
DATABASE_URL=postgresql+asyncpg://postgres:b@!_p4uSeR22PV@db.ogianwngjooswnvcclsh.supabase.co:5432/postgres
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_JWT_SECRET=your-jwt-secret

ENVIRONMENT=development
