

SUPABASE_URL=
SUPABASE_JWT_SECRET=

ENVIRONMENT=development
DB_ECHO=False

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=